.question {
    min-height: 900px;
    margin: 80px 0;
    &__content {
        &-up {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            text-align: center;
            
        }
        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            text-align: center;
            margin-top: 37px;
        }       
    }
    &__item {
        width: 360px;
        min-height: 255px;
        border: 1px solid #ececec;
        margin: 0;
        
        &-descr {
            color: #393939;
            font-size: 18px;
            font-weight: 300;
            line-height: 26px;
            text-align: center;
            padding: 0 53px 35px;
            position: relative;
            @include question;
            &_bottom {
                color: #393939;
                font-size: 18px;
                padding: 0 40px 35px;
                font-weight: 700;
                line-height: 26px;
                text-align: center;
                position: relative;
                @include check;
            }
        }
        &-center {
            text-align: center;
            margin-top: 50px;
        }
    }
}